<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
</head>
<body>
    <h1>Se muestran los roles</h1>
    <div class="row">
        <a href="/roles/nuevo">Crear rol</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages%}
                {% if message == 'Rol eliminado'%}
                  <div class="alert alert-danger" role="alert">           
                {% else %}
                  <div class="alert alert-success" role="alert">
                {% endif %}
                {{ message }}
              {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <br>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {%for r in roles%}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.name}}</td>
                <td>{{r.description}}</td>
                <td>
                  {% if r.state == True %}
                    Activo
                  {% else %}
                    Inactivo
                  {% endif %}

                </td>
                <td><a href="/roles/{{r.id}}/editar">Editar</a></td>
                <td>
                    <form onSubmit="return confirm('¿Desea eliminar este rol?');" action="{{url_for('delete_rol', rol_id = r.id)}}"  method="POST">
                    <input type="submit"  value="Eliminar" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <a href="../">regresar</a>
    </div>
</body>
</html>