<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
</head>
<body>
    <h1>Editar producto {{ producto_id }}</h1>
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages%} 
                <div class="alert alert-danger" role="alert">           
                    {{ message }}
                </div>
              {% endfor %} 
            {% endif %}
          {% endwith %}
    </div>
    <div class="row">
        <form onSubmit="return confirm('¿Desea modificar este producto?');" action="{{url_for('edit_product', producto_id = product.id)}}"  method="POST">
            <label for="editNameProductText">Nombre</label>
            <input name="editNameProductText" id='editNameProductText'type="text" placeholder="Ingrese nombre" value="{{product.name}}" required>
            <label for="editDescriptionProductText">Descripción</label>
            <input name="editDescriptionProductText" id='editDescriptionProductText'type="text" 
            placeholder="Ingrese descripción" value="{{product.description}}" required>
            <label for="editCodeProductText">Código</label>
            <input name="editCodeProductText" id='editCodeProductText'type="text" 
            placeholder="Ingrese código" value="{{product.code}}" required>
            <label for="editCurrentStockProductText">Cantidad bodega</label>
            <input name="editCurrentStockProductText" id='editCurrentStockProductText'type="number" placeholder="Ingrese cantidad actual" value="{{product.current_stock}}" required>
            <label for="editStockProductText">Cantidad real</label>
            <input name="editStockProductText" id='editStockProductText'type="number" placeholder="Ingrese cantidad real" value="{{product.stock}}" required>
            <label for="editPriceProductText">Precio</label>
            <input name="editPriceProductText" id='editPriceProductText'type="number" placeholder="Ingrese precio" value="{{product.price}}" required>
            <label for="editCatProductSelect">Categoria</label>
            <select name="editCatProductSelect" required class="custom-select" id="editCatProductSelect">
                {% for c in categories %}
                <option value="{{c.id}}">{{c.name}}</option>
                {% endfor %}
            </select>
            <label for="editStateProductSelect">Estado</label>
            <select name="editStateProductSelect" required class="custom-select" id="editStateProductSelect">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <input id='editProductSubmit'type="submit" value="Editar">
        </form>
        <a href="/productos">Regresar</a>

    </div>
</body>
</html>