<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar categoria</title>
</head>
<body>
    <h1>Editar categoria {{ categoria_id}}</h1>
    <div class="row">
        <form action="">
            <label for="editNameCatText">Nombre</label>
            <input id='editNameCatText'type="text" placeholder="Ingrese nombre" value="Nombre" required>
            <label for="editDescriptionCatText">Descripción</label>
            <input id='editDescriptionCatText'type="text" placeholder="Ingrese descripción" value="Descripcion" required>
            <select required class="custom-select" id="inputStateGroupCat">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <input id='editCatSubmit'type="submit" value="Editar">
        </form>
        <a href="/categorias">Regresar</a>
    </div>
</body>
</html>