<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva categoria</title>
</head>
<body>
    <h1>Crear categoria</h1>
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <form name="create" action="" method="POST" novalidate>
            <fieldset class="form-group">
                <legend>Crear categoría</legend>
                {{form.hidden_tag()}}

                <p>
                    {{form.name.label}}</br>
                    {{form.name(size=35)}}
                    {% for error in form.name.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>

                <p>
                    {{form.description.label}}</br>
                    {{form.description(size=35)}}
                    {% for error in form.description.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.select.label}}</br>
                    {{form.select}}
                </p>
                <p>
                    {{form.submit()}}</br>
                </p>
            </fieldset>


        </form>
        <a href="/categorias">Regresar</a>
    </div>
</body>
</html>