<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear usuario</title>
</head>
<body>
    <h1>Crear usuario</h1>
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages%} 
                <div class="alert alert-danger" role="alert">           
                    {{ message }}
                </div>
              {% endfor %} 
            {% endif %}
          {% endwith %}
    </div>
    <div class="row">
        <form action="">
            <label for="newNameUserText">Nombre</label>
            <input name="newNameUserText" id='newNameUserText'type="text" placeholder="Ingrese nombre" required>
            <label for="newDocumentUserText">Documento</label>
            <input name="newDocumentUserText" id='newDocumentUserText'type="text" 
            placeholder="Ingrese documento" required>
            <label for="newPasswordUserText">Contraseña</label>
            <input name="newPasswordUserText" id='newPasswordUserText'type="password" 
            placeholder="Ingrese clave" required>
            <label for="newPhoneUserText">Teléfono</label>
            <input name="newPhoneUserText" id='newPhoneUserText'type="tel" 
            placeholder="Ingrese teléfono" required>
            <label for="newEmailUserText">Correo</label>
            <input name="newEmailUserTexts" id='newEmailUserText'type="email" placeholder="Ingrese correo">
            <label for="newAddressUserText">Dirección</label>
            <input name="newAddressUserText" id='newAddressUserText'type="text" placeholder="Ingrese dirección">
            <label for="newRolUserSelect">Rol</label>
            <select name="newRolUserSelect" required class="custom-select" id="newRolUserSelect">
                <option value="1">Admin</option>
                <option value="2">Vendedor</option>
            </select>
            <label for="newStateUserSelect">Estado</label>
            <select name="newStateUserSelect" required class="custom-select" id="newStateUserSelect">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <input id='newUserSubmit'type="submit" value="Crear">
        </form>
        <a href="/usuarios">Regresar</a>

    </div>
</body>
</html>