<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cliente</title>
</head>
<body>
    <h1>Crear cliente</h1>
    <div class="row">
        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages%} 
                    <div class="alert alert-danger" role="alert">           
                        {{ message }}
                    </div>
                  {% endfor %} 
                {% endif %}
              {% endwith %}
        </div>
        <form action="">
            <label for="newNameClientText">Nombre</label>
            <input id='newNameClientText'type="text" placeholder="Ingrese nombre" required>
            <label for="newDocumentClientText">Documento</label>
            <input id='newDocumentClientText'type="text" 
            placeholder="Ingrese documento" required>
            <label for="newPhoneClientText">Teléfono</label>
            <input id='newPhoneClientText'type="tel" 
            placeholder="Ingrese teléfono" required>
            <label for="newEmailClientText">Correo</label>
            <input id='newEmailClientText'type="email" placeholder="Ingrese correo">
            <label for="newAddressClientText">Dirección</label>
            <input id='newAddressClientText'type="text" placeholder="Ingrese dirección">
            <input id='newClientSubmit'type="submit" value="Crear">
        </form>
        <a href="/clientes">Regresar</a>

    </div>
</body>
</html>