<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva entrada</title>
</head>
<body>
    <h1>Nueva entrada</h1>
    <div class="row">
        <div class="col">
            se muestran la entrada
            <form action="">

            </form>
        </div>
        <div class="col">
            Se muestran los Productos
        </div>
        <a href="/entradas">regresar</a>
    </div>
</body>
</html>