<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de salida</title>
</head>
<body>
    <h1>Detalle de salida {{ salida_id }} </h1>
    <div class="row">
        <table>
            <tr>
                <th>Código</th>
                <th>Productos</th>
                <th>Cantidad</th>
                <th>Cantidad de ingreso</th>
                <th>Precio</th>
                <th>Dias</th>
                <th>Editar</th>
                <th>Descargar</th>
                <th>Eliminar</th>
            </tr>
            <tr>
                <td>111</td>
                <td>TBL50</td>
                <td>5</td>
                <td>0</td>
                <td>1100</td>
                <td>10</td>
                <td><button>Editar</button></td>
                <td><button>Descargar</button></td>
                <td><button>Eliminar</button></td>                
            </tr>
        </table>
        
        <a href="/salidas">Regresar</a>
    </div>
</body>
</html>